.contents 
  .contents-top
    .left-box
      .current-group 
        = @group.name
        .member-list
          .member-name 
            Member :
            - @group.users.each do |user|
              = user.name
    = link_to edit_group_path(@group), class: "edit" do
      .edit-btn Edit
      

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .new-message
        .box
          = f.text_field :content, class: 'text', placeholder: 'type a message'
          = f.label :image, class: 'image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'submit-btn'